* {
    margin: 0;
}

*.icon-white {
    color: white
}

*.icon-sliver {
    color: silver
}

*.icon-green {
    color: green
}

*.icon-gray {
    color: gray
}

.page-link:focus {
    box-shadow: none !important;
    border-color: transparent !important;
    /* color: transparent !important; */
}